<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <h3><%=@website.name%></h3>
    <h5><%=@website.url%></h5>
    <hr>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Phrase</th>
          <th>Google position</th>
          <th>Last check</th>
          <th>Check again</th>
        </tr>
      </thead>
      <tbody>
        <%- @website.keywords.each do |p| %>
          <tr>
            <td><%= p.phrase %></td>
            <td><%= p.positions.last.try(:formatted_rank) %></td>
            <td><%= formatted_creation_date(p.positions.last.created_at) %></td>
            <td><%=link_to 'Details', website_keyword_path(@website, p) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <%= simple_form_for(@keyword, url: website_keywords_path(@website), method: :post) do |k| %>
      <%= k.input :phrase %>
      <%= k.button :submit, 'Add phrase' %>
    <% end %>
    <hr>
    <%=link_to 'Back', account_websites_path(@website.account), class: 'btn btn-default' %>
  </div>
</div>
